:root{
    --title-color: #697c37;
    --options-color: #ccda46;
    --table-color: #f4eec7;
    --background-color:#b0a160;
    --font-color: #434e52;
    --footer-color: #434e52;
}

*{
    box-sizing: border-box!important;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    font-family: "Courier New";
}

header{
    align-self: flex-start;
    height: 40px;
    width: 100vw;
    background-color: var(--footer-color);
}

footer{
    height: 40px;
    width: 100vw;
    background-color: var(--footer-color);
    align-self: flex-end;
    text-align: center;
    line-height: 40px;
    font-size: 0.8em;
    color: var(--table-color);
}

nav{
    padding: 0 !important;
}

#navbarNav{
    justify-content: space-around;
    height: 40px!important;
}

#navbarNav ul{
    justify-content: space-around;
    width: 50%;
}

a i,#navbarNav a{
    padding-right: 0.5vw;
    color: var(--table-color);
    height: 40px!important;
    line-height: 40px!important;
}

li:hover,li:hover a, a:hover {
    text-decoration: none;
    color: black!important;
    background-color: #fff;
    cursor: pointer;
}

li a {
    display: inline-block;
    height: 40px;
}

#navbarNav li{
    padding: 0 5px;
}

#main{
    height: 85vh !important;
}

#form-lista-facturas{
    display: flex;
    justify-content: center;
}

#div-barra-busqueda{
    width: 100% !important;
    justify-content: space-between;
}

#div-barra-busqueda button{
    margin-top: 8px!important;
}

#div-barra-busqueda input{
    width: 55vw;
}

#nueva-factura-main{
    display: flex;
    min-height: 87vh !important;
}

.nueva-factura-left{
    width: 50%;
}

.nueva-factura-left h1, .nueva-factura-right h1{
    text-align: center;
}

.nueva-factura-right form input{
    width: 50vw!important;
}

#tabla-productos{
    overflow-y: auto;
}

#cliente-encontrado {
    width: 20.5vw;
    margin-top: 5px!important;
    font-size: 0.7rem;
}

#form-factura button {
     margin-top: 5px!important;
}

#form-factura div{
    display: flex;
    margin-top: 5px!important;
    width: 50%;
}

#medio_de_pago {
    width: 45% !important;
    font-size: 0.7rem;
}

#vendedor {
    font-size: 0.7rem;
    width: 15vw!important;
}

.div-left form:first-of-type input{
    width: 37vw;
}

.div-left form button{
    margin-top: 0px!important;
    margin-left: 5px;
}

.div-left{
    height: 85vh;
    overflow-y: auto;
}

#tabla-clientes{
    font-size: smaller;
}










